# Test Run
### Run Summary

<p>
<strong>Overall Result:</strong> ✔️ Pass <br />
<strong>Pass Rate:</strong> 100% <br />
<strong>Run Duration:</strong> 7s 614ms <br />
<strong>Date:</strong> 2024-02-08 20:12:42 - 2024-02-08 20:12:50 <br />
<strong>Total Tests:</strong> 82 <br />
</p>

<table>
<thead>
<tr>
<th>✔️ Passed</th>
<th>❌ Failed</th>
<th>⚠️ Skipped</th>
</tr>
</thead>
<tbody>
<tr>
<td>82</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>100%</td>
<td>0%</td>
<td>0%</td>
</tr>
</tbody>
</table>

---

#### AirportAPI.Tests.dll
<strong>Group Result:</strong> ✔️ Pass <br />
<strong>Pass Rate:</strong> 100% <br />
<strong>Tests:</strong> 82 <br />
<strong>Duration:</strong> 7s 614ms <br />
<details open>
<summary><strong>Results:</strong></summary>
<details>
<summary>✔️ Passed (82)</summary>
<table>
<thead>
<tr>
<th>Test</th>
<th>Duration</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<details>
<summary>
✔️ PostAirline (11)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostAirline</blockquote>
</details>
</td>
<td>97ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutCityWithNonExistentId (200)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutCityWithNonExistentId</blockquote>
</details>
</td>
<td>90ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteFlight (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteFlight</blockquote>
</details>
</td>
<td>83ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetWrongPath (/flight)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetWrongPath</blockquote>
</details>
</td>
<td>77ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostCity (11)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostCity</blockquote>
</details>
</td>
<td>89ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutFlightWithNonExistentId (200)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutFlightWithNonExistentId</blockquote>
</details>
</td>
<td>80ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ FailToDeleteAirline (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.FailToDeleteAirline</blockquote>
</details>
</td>
<td>86ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostWrongPath (/airline)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostWrongPath</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutNullItems (/cities/2)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutNullItems</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostInvalidFlight (200)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostInvalidFlight</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetNonExistentItems (/cities/17)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetNonExistentItems</blockquote>
</details>
</td>
<td>87ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteNonExistentItems (/airlines/17)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteNonExistentItems</blockquote>
</details>
</td>
<td>93ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutAirlineWithNonExistentId (200)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutAirlineWithNonExistentId</blockquote>
</details>
</td>
<td>90ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutFlight (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutFlight</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetCityById (5)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetCityById</blockquote>
</details>
</td>
<td>88ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostCity (12)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostCity</blockquote>
</details>
</td>
<td>90ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutAirline (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutAirline</blockquote>
</details>
</td>
<td>80ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetFlightJoinedById (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetFlightJoinedById</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ FailToDeleteCity (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.FailToDeleteCity</blockquote>
</details>
</td>
<td>92ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetCityById (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetCityById</blockquote>
</details>
</td>
<td>85ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteWrongPath (/airline)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteWrongPath</blockquote>
</details>
</td>
<td>85ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAirlineById (4)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAirlineById</blockquote>
</details>
</td>
<td>83ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteFlight (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteFlight</blockquote>
</details>
</td>
<td>86ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutNullItems (/flights/3)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutNullItems</blockquote>
</details>
</td>
<td>81ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutCity (6)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutCity</blockquote>
</details>
</td>
<td>81ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostFlight (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostFlight</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutAirline (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutAirline</blockquote>
</details>
</td>
<td>83ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostFlight (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostFlight</blockquote>
</details>
</td>
<td>86ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostFlight (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostFlight</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutCity (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutCity</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostWrongPath (/flight)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostWrongPath</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetNonExistentItems (/airlines/17)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetNonExistentItems</blockquote>
</details>
</td>
<td>87ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteNonExistentItems (/cities/17)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteNonExistentItems</blockquote>
</details>
</td>
<td>90ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetFlightJoinedById (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetFlightJoinedById</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ FailToDeleteAirline (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.FailToDeleteAirline</blockquote>
</details>
</td>
<td>92ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutFlightWithNonExistentId (100)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutFlightWithNonExistentId</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutInvalidFlight (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutInvalidFlight</blockquote>
</details>
</td>
<td>81ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutCityWithNonExistentId (100)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutCityWithNonExistentId</blockquote>
</details>
</td>
<td>89ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutFlight (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutFlight</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAllFlightsJoined
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAllFlightsJoined</blockquote>
</details>
</td>
<td>88ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetCityById (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetCityById</blockquote>
</details>
</td>
<td>81ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutCityWithNonExistentId (300)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutCityWithNonExistentId</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetFlightJoinedById (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetFlightJoinedById</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetCityById (7)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetCityById</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteFlight (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteFlight</blockquote>
</details>
</td>
<td>90ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostInvalidFlight (300)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostInvalidFlight</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ FailToDeleteCity (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.FailToDeleteCity</blockquote>
</details>
</td>
<td>86ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteAirline (4)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteAirline</blockquote>
</details>
</td>
<td>693ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteCity (8)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteCity</blockquote>
</details>
</td>
<td>91ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ FailToDeleteAirline (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.FailToDeleteAirline</blockquote>
</details>
</td>
<td>99ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteCity (7)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteCity</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAirlineById (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAirlineById</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetFlightById (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetFlightById</blockquote>
</details>
</td>
<td>86ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetNonExistentItems (/flights/17)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetNonExistentItems</blockquote>
</details>
</td>
<td>89ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetFlightById (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetFlightById</blockquote>
</details>
</td>
<td>85ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAllAirlines
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAllAirlines</blockquote>
</details>
</td>
<td>114ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetFlightById (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetFlightById</blockquote>
</details>
</td>
<td>85ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostInvalidFlight (100)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostInvalidFlight</blockquote>
</details>
</td>
<td>84ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteWrongPath (/city)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteWrongPath</blockquote>
</details>
</td>
<td>90ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAllFlights
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAllFlights</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAllCities
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAllCities</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutNullItems (/airlines/1)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutNullItems</blockquote>
</details>
</td>
<td>89ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutCity (4)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutCity</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAirlineById (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAirlineById</blockquote>
</details>
</td>
<td>79ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutInvalidFlight (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutInvalidFlight</blockquote>
</details>
</td>
<td>85ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutAirlineWithNonExistentId (100)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutAirlineWithNonExistentId</blockquote>
</details>
</td>
<td>93ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutInvalidFlight (2)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutInvalidFlight</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetNonExistentItems (/flights/17/joined)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetNonExistentItems</blockquote>
</details>
</td>
<td>77ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetAirlineById (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetAirlineById</blockquote>
</details>
</td>
<td>85ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutAirline (3)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutAirline</blockquote>
</details>
</td>
<td>80ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostCity (13)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostCity</blockquote>
</details>
</td>
<td>89ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteNonExistentItems (/flights/17)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteNonExistentItems</blockquote>
</details>
</td>
<td>82ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostWrongPath (/city)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostWrongPath</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutFlightWithNonExistentId (300)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutFlightWithNonExistentId</blockquote>
</details>
</td>
<td>83ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetWrongPath (/city)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetWrongPath</blockquote>
</details>
</td>
<td>86ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ FailToDeleteCity (5)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.FailToDeleteCity</blockquote>
</details>
</td>
<td>89ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ GetWrongPath (/airline)
</summary>
Source:
<blockquote>AirportAPI.Tests.GetTests.GetWrongPath</blockquote>
</details>
</td>
<td>115ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutFlight (1)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutFlight</blockquote>
</details>
</td>
<td>81ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostAirline (12)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostAirline</blockquote>
</details>
</td>
<td>85ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PutAirlineWithNonExistentId (300)
</summary>
Source:
<blockquote>AirportAPI.Tests.PutTests.PutAirlineWithNonExistentId</blockquote>
</details>
</td>
<td>80ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ PostAirline (13)
</summary>
Source:
<blockquote>AirportAPI.Tests.PostTests.PostAirline</blockquote>
</details>
</td>
<td>88ms</td>
</tr>
<tr>
<td>
<details>
<summary>
✔️ DeleteWrongPath (/flight)
</summary>
Source:
<blockquote>AirportAPI.Tests.DeleteTests.DeleteWrongPath</blockquote>
</details>
</td>
<td>78ms</td>
</tr>
</tbody>
</table>
</details>
</details>

---



[Created using Liquid Test Reports](https://github.com/kurtmkurtm/LiquidTestReports)