
# Test Run
### Run Summary

<p>
<strong>Overall Result:</strong> ✔️ Pass <br />
<strong>Pass Rate:</strong> 100% <br />
<strong>Run Duration:</strong> 1m 47s  <br />
<strong>Date:</strong> 2024-02-08 11:12:55 - 2024-02-08 11:14:42 <br />
<strong>Framework:</strong> .NETCoreApp,Version=v8.0 <br />
<strong>Total Tests:</strong> 21 <br />
</p>

<table>
<thead>
<tr>
<th>✔️ Passed</th>
<th>❌ Failed</th>
<th>⚠️ Skipped</th>
</tr>
</thead>
<tbody>
<tr>
<td>21</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>100%</td>
<td>0%</td>
<td>0%</td>
</tr>
</tbody>
</table>

### Result Sets
#### AirportWebTest.dll - 100%
<details>
<summary>Full Results</summary>
<table>
<thead>
<tr>
<th>Result</th>
<th>Test</th>
<th>Duration</th>
</tr>
</thead>
<tr>
<td> ✔️ Passed </td>
<td>TestTitleOnAllPagesIsCorrectAndNavButtonsAreWorking</td>
<td>6s 740ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestLightDarkSwitchIsWorking</td>
<td>4s 469ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestThereAreNoTicketsBought</td>
<td>5s 24ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestThereAreNoTicketsBoughtButtonRedirectsToBooking</td>
<td>4s 985ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestDestinationSelectIsDisabledByDefault</td>
<td>4s 995ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestDestinationSelectIsEnabledAfterSelectingOrigin (Bangkok,Tehran)</td>
<td>5s 309ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestDestinationAndOriginValue (Bangkok,Tehran)</td>
<td>4s 741ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestRouteOriginAndDestinationValueOfTheFirstAndLastTicket (Bangkok,Tehran)</td>
<td>4s 931ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBuyButtonIsDisabledWhenPassengerCountIsZero (Bangkok,Tehran)</td>
<td>5s 44ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBookingWithInvalidPassengerCount (Bangkok,Tehran)</td>
<td>4s 994ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBuyButtonIsEnabledWhenPassengerCountIsGreaterThenZero (Bangkok,Tehran)</td>
<td>5s 42ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestConfirmationAlertBoxIsDisplayedWhenTheBuyButtonIsPressed (Bangkok,Tehran)</td>
<td>4s 917ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestConfirmationAlertBoxLinkIsRoutingCorrectly (Bangkok,Tehran)</td>
<td>5s 172ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestSummaryPageContainsBoughtTicket (Bangkok,Tehran)</td>
<td>5s 135ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBookingWithValidOriginAndDestinationWithOneAdult (Bangkok,Tehran)</td>
<td>4s 907ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBookingWithValidOriginAndDestinationWithOneAdult (Beijing,Istanbul)</td>
<td>4s 974ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBookingWithValidOriginAndDestinationWithOneAdult (Beijing,Los Angeles)</td>
<td>4s 972ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestDisplayedCardPriceFromTheApi (Toronto,New York)</td>
<td>4s 863ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBookingTotalPriceByApi (Toronto,New York)</td>
<td>5s 525ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBookingTotalDistance (Toronto,New York)</td>
<td>4s 956ms</td>
</tr>
<tr>
<td> ✔️ Passed </td>
<td>TestBookingTotalFlightTimeByApi (Toronto,New York)</td>
<td>4s 947ms</td>
</tr>
</tbody>
</table>
</details>

### Run Messages
<details>
<summary>Informational</summary>
<pre><code>
</code></pre>
</details>

<details>
<summary>Warning</summary>
<pre><code>
</code></pre>
</details>

<details>
<summary>Error</summary>
<pre><code>
</code></pre>
</details>



----

[Created using Liquid Test Reports](https://github.com/kurtmkurtm/LiquidTestReports)